.places {
	display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.places h1 {
	font-size: 30px;
    flex: 1 1 100%;
}

article {
    width: 390px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
    margin-top: 100px;
    min-width: 390px;
    margin: 20px;
}

article h2 {
    font-size: 30px;
	text-align: center;
}
